# Copy values into publish command (do not commit real tokens)
# GitHub: create repo at https://github.com/new → name: onex-blockchain
GITHUB_URL=git@github.com:YOUR_USER/onex-blockchain.git
# Gitea: create repo on your instance
GITEA_URL=git@git.YOUR_DOMAIN:YOUR_USER/onex-blockchain.git
BRANCH=main
